<div class="banner"></div>
<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <%= link_to "Create a new list", new_list_path, class: "btn btn-primary new-list-btn" %>
  </div>
</div>

<div class="row g-4">
  <% @lists.each do |list| %>
    <div class="col-md-4">
      <div class="card h-100 shadow-lg rounded-5 mx-3"
           style="border: 2px solid #bead9a; background-color: transparent;
                  background-image: url(<%= asset_path('banner_small.png') %>);
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;">
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <p class="card-text"><%= pluralize(list.movies.count, 'movie') %></p>

          <%= link_to "View", list_path(list), class: "btn btn-primary view-list-btn" %>



          <%= button_to 'X', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary new-list-btn" %>

        </div>
      </div>
    </div>
  <% end %>
</div>
