
<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1><%= @list.name %></h1>
    <%= link_to "Back to lists", lists_path, class: "btn btn-secondary" %>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h3>Add a movie to your list</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, prompt: "Select a movie" %>
        <%= f.input :comment %>
        <%= f.submit "Add movie", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><small class="text-muted">⭐ <%= bookmark.movie.rating %></small></p>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <p class="card-text"><em>"<%= bookmark.comment %>"</em></p>
            <%= button_to 'X', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{bookmark.movie.title} from this list?" }, class: "btn btn-primary new-list-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
