<div class="container mt-3">
  <h1>Add a movie to <%= @list.name %></h1>

  <%= form_tag search_movies_path, method: :get, remote: true, id: "movie-search-form" do %>
    <%= text_field_tag :query, nil, placeholder: "Search for a movie...", class: "form-control mb-2" %>
  <% end %>

  <div id="movie-results" class="d-flex flex-wrap"></div>

  <%= simple_form_for [@list, @bookmark], remote: true do |f| %>
    <%= f.input :movie_id, as: :hidden %>
    <%= f.input :comment %>
    <%= f.submit "Add movie", class: "btn btn-primary", id: "add-movie-btn", disabled: true %>
  <% end %>

  <%= link_to "Back to list", lists_path, class: "btn btn-secondary mt-3" %>
</div>
