<% movies.each do |movie| %>
  <div class="movie-result" data-id="<%= movie["id"] %>">
    <strong><%= movie["title"] %></strong> (<%= movie["release_date"] %>)
    <br>
    <img src="https://image.tmdb.org/t/p/w200<%= movie["poster_path"] %>" alt="<%= movie["title"] %>">
    <br>
    <button class="btn btn-primary select-movie" data-id="<%= movie["id"] %>" data-title="<%= movie["title"] %>">Select</button>
    <hr>
  </div>
<% end %>
