<% if movies.any? %>
  <div class="row">
    <% movies.each do |movie| %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <% if movie.poster_path %>
            <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>" class="card-img-top" alt="<%= movie.title %>">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text small"><%= movie.overview.to_s.truncate(100) %></p>
            <button class="btn btn-sm btn-primary select-movie" data-movie-id="<%= movie.id %>" data-movie-title="<%= movie.title %>">
              Select this movie
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No movies found matching your search.</p>
<% end %>
